.neat_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aquamarine; */
    width: 80vw;
    height: 70vh;
    
}

.sd_heading9{
    margin: 5vh 0 2vh 0;
}
.NEAT_Controls{
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.NEAT_control_item{
    margin: 5px 2px;
    padding:3px;
    transition: all 0.1s ease-in;
    text-transform: uppercase;
    
}
.NEAT_control_item:hover{
    color: aquamarine;
    cursor: pointer;
}

.sketch_box_neat{
    color: black;
    /* border: 1px solid aquamarine; */
    /* background-color: peachpuff; */
    width: 100%;
    height: 100%;
}

.text_neat_sub{
    margin:10px 0;
    /* color: var(--primary-color1); */
    /* color: aquamarine; */
    font-weight: 300;
}

.target_image_neat_container{
    object-fit: fill;
    width: 100%;
    height: 100%;
    /* transform: scale(0.1); */
}