

.container_fullscreen {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color1);
    color: white;
}

.roboto_text {
    font-family: "Roboto", sans-serif;
}
.playFair_text {
    font-family: "Playfair Display", serif;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDirection_col {
    flex-direction: column;
}

.flexDirection_row {
    flex-direction: row;
}

.sd_container_gen {
    display: flex;
    align-items: center;
}

.sd_container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sd_heading1 {
    margin: 20vh 0 5vh 0;
}

.sd_heading0{
    margin: 10vh 0 5vh 0;
}

.sd_text1 {
    margin: 10px 0;
}

.sd_triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ffa931;
}

.triangle {
  position: absolute;
  border: none;
}

/* media query */

@media only screen and (max-width: 600px) {
    .sd_heading1 {
        margin: 20vh 5vw 5vh 5vw;
        text-align: center;
    }
    .sd_heading0{
        margin: 10vh 5vw 5vh 5vw;
        text-align: center;
    }
    .sd_text1 {
        margin: 10px 10vw;
    }
}
